@import 'base';

.button {
  display: inline-block;
  font: inherit;
  outline: 0;
  cursor: pointer;
  border: 0;
  padding: $space-m;

  &:disabled {
    cursor: not-allowed;
    opacity: .45;
  }
}

.button--primary {
  background-color: $color-primary;
  color: $color-white;
}
