$base-font-family: 'Lato', sans-serif;
$base-font-size: 18px;
$base-line-height: 1.5;

html {
  font-family: $base-font-family;
  font-size: $base-font-size;
  line-height: $base-line-height;

  @include font-anti-aliasing();
}

strong {
  font-weight: 700;
}

h1 {
  font-size: 36px;
  font-weight: 900;
}

h2 {
  font-size: 24px;
  font-weight: 400;
}
