@import 'base';

.page-header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1000;
  height: $header-height;
  background-color: #333;
  color: $color-white;
}

.page-header__logo {
  @include center(vertical);
  left: $space-m;
}

.page-header__label {
  @include center(middle);
}

.page-header__controls {
  @include center(vertical);
  right: $space-m;
}
