@import 'base';

.icon {
  font-weight: normal;
  font-style: normal;
  font-decoration: none;
  text-align: center;
  speak: none;
  text-transform: none;
  text-rendering: optimizeLegibility;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  // vertical-align: middle;

  @include font-anti-aliasing();

  &:before {
    display: block;
    content: attr(data-icon);
  }
}
