//
// Contains all colors used throughout our application
//

// Grayscale
$color-lightest-gray: #f2f2f2;
$color-white: #fff;
$color-black: #000;

// Ui
$color-sub-text: rgba(0, 0, 0, .4);
$color-border: rgba(0, 0, 0, .1);
$color-text: rgba(0, 0, 0, .8);

// Flat ui colors
$color-green: #02c595;
$color-blue: #4a90e2;
$color-red: #e34c46;
$color-purple: #9383c1;
$color-yellow: #ffbf43;

// $color-blue: #4a90e2;

// Branding
$color-primary: $color-blue;
$color-secondary: $color-green;
