@import 'base';

.input-text {
  input {
    display: block;
    font: inherit;
    padding: $space-m;
    outline: 0;
    border: 1px solid $color-border;
    background-color: $color-white;
    width: 100%;
    color: $color-text;

    transition: border-color .12s;

    &:focus {
      border-color: $color-primary;
    }

    @include placeholder {
      color: $color-sub-text;
    }
  }
}
