:global {
  @import 'base';
  @import 'vendor/normalize';
  @import 'vendor/flexbox-grid';
  @import 'typography';

  html {
    box-sizing: border-box;
  }

  a {
    color: inherit;
    text-decoration: none;
  }

  ul {
    list-style: none;
    padding: 0;
  }

  h1, h2, h3, h4, h5, p {
    margin: 0;
  }

  html,
  body {
    margin: 0;
    padding: 0;
    height: 100%;
  }

  *,
  *:before,
  *:after {
    box-sizing: inherit;
  }
}
