@import 'base';

.answer {
  background-color: $color-lightest-gray;
  color: $color-sub-text;
  text-align: left;
  width: 100%;
  display: block;
  font: inherit;
  outline: 0;
  cursor: pointer;
  border: 0;
  padding: $space-m;

  &:hover {
    background-color: $color-primary;
    color: $color-white;
  }
}

.answer--selected {
  background-color: $color-primary;
  color: $color-white;
}
